body {
	font-family: 'Noto Sans TC', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	front family；'Noto Sans TC'sans-serif;
	font-size:1.2rem;
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6, .subheading{
	text-transform:none;
}
h1,.h1 {
	font-size: 5rem;
}
p.lead {
	font-size: 1.2rem;
}
.bg-primary {
	background-color:#3CB371!important;
	background-image:url(../assets/img/always-aquamarine.png);
}
.text-primary{
	color:#3CB371!important;
}
a {
	color:#3CB371;
}

table {
 border-collapse: collapse;
 width: 100%;
}

th, td {
 padding: 8px;
 text-align: left;
 border-bottom: 1px solid #3CB371;
 font-size: 1.1rem;
}