body {
	font-family: 'Noto Sans TC', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Noto Sans TC', sans-serif;
}
.subheading {
	front family；'Noto Sans TC'sans-serif;
	font-size:1.2rem;
	font-weight:normal;
}
h1, h2, h3, h4, h5, h6, .subheading{
	text-transform:none;
}
h1,.h1 {
	font-size: 5rem;
}
p.lead {
	font-size: 1.2rem;
}
.bg-primary {
	background-color:#D1BBFF!important;
	background-image:url(../assets/img/always-aquamarine.png);
}
.text-primary{
	color:#D1BBFF!important;
}
a {
	color:#D1BBFF;
}

